{include file="common/head"}
<body>

{include file="common/top"}

<div class="container-fluid">
    <div class="row-fluid">
        {include file="common/nav"}
        <div class="span9">
            <div class="row-fluid">
                <div class="page-header">
                    <h1>管理员管理
                        <small>管理员列表</small>
                    </h1>
                </div>
                <hr>
                    <table class="table table-striped table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>账号</th>
                            <th>昵称</th>
                            <th>手机</th>
                            <th>邮箱</th>
                            <th>注册时间</th>
                            <th>上次登录时间</th>
                            <th>权限</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>

                        <tbody class="tbody">
                        {volist name="admins" id="admin"}
                        <tr class="douban-list">
                            <td>{$admin.id}</td>
                            <td>{$admin.username}</td>
                            <td>{$admin.name}</td>
                            <td>{$admin.tel}</td>
                            <td>{$admin.email}</td>
                            <td>{$admin.create_time}</td>
                            <td>{$admin.lastlogin_time|date='Y-m-d H:i:s',### }</td>
                            <td>{$admin.power|getPower}</td>
                            <td><span id="status" attr-id="{$admin.id}" attr-status="{$admin.status}"
                                      style="cursor: pointer">{$admin.status|getCommonStatus}</span>
                            </td>
                            <td><a style="cursor: pointer" href="{:url('admin/add',['id'=>$admin.id])}"
                                   style="margin: 0 auto;">修改</a></td>
                            <td><span id="delete" attr-id="{$admin.id}" attr-status="{$admin.status}"
                                      style="cursor: pointer">删除</span></td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                <div class="green-black">{$admins->render()}</div>

            </div>
        </div>
    </div>

    <hr>

    {include file="common/footer"}

</div>
<script>
    var SCOPE = {
        'status_url': '__ADMIN__/admin/status',
        'delete_url': '__ADMIN__/admin/status'
    }
</script>
</body>
</html>
