{include file="common/head"}
<body>
{include file="common/top"}
<div class="am-g am-g-fixed blog-fixed blog-content">
    <figure data-am-widget="figure" class="am am-figure am-figure-default "   data-am-figure="{  pureview: 'true' }">
        <div id="container">
            {volist name="draws" id="draw"}
                <div><img src="{$draw.thumb}"><a href="/index/draw/detail?id={$draw.id}"><h3>{$draw.title}</h3></a></div>
            {/volist}
        </div>
    </figure>
</div>
{include file="common/footer"}
</body>
