*{margin: 0;padding: 0}
html,body{
    height: 100%;
}
#container{
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}
a .hiddenanchor{
    display: none;
}

h1{
    text-align: center;
    font-size: 2em;
    margin: 15px auto;
    margin-top: 40px;
}

#login{
    width: 35%;
    min-width: 500px;
    height: 350px;
    background-color: rgba(255,255,255,1);
    border-radius: 8px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
    text-align: center;
    z-index: 12;
    position: relative;

}

#register{
    width: 35%;
    min-width: 500px;
    height: 350px;
    background-color: rgba(255,255,255,1);
    border-radius: 8px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
    position: absolute;
    text-align: center;
    z-index: 11;
}

#toregister:target ~ #container #register,
#tologin:target ~ #container #login{
    z-index: 12;
    /*opacity: 1;*/
}
#toregister:target ~ #container #login,
#tologin:target ~ #container #register{

}
.animate{

}





p{
    width: 60%;
    margin: auto;
    text-align: left;
    position: relative;
}

p input{
    width:100%;
    height: 25px;
    margin: 3px auto;
    padding: 5px;
}

p a{
    position: absolute;
    text-decoration: none;
    margin-top: 10px;
    color: #4CAF50;
}

.button{
    width: 62%;
    height: 35px;
    margin-left:12px;
    margin-top:10px;
    background-color: #333;
    border: none;
    border-radius: 2px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;

}
.button:hover{
    box-shadow: 0 0 10px rgba(76,175,80,0.9);
    text-shadow: 0 0 2px rgba(255,255,255,0.8);
}
.uname{

}

.upassword{

}

.uemail{

}