{include file="common/head"}
<body>
<style type="text/css">
    * { margin:0; padding:0; outline: none;}
    .box { z-index: 10; position:fixed; top:20px; left:20px; width:400px; height:300px; border:1px solid #ccc; background:#fff; border-radius: 6px;}
    .box .title { background:#eee; height:30px; width:400px; cursor:move; }
    .box .title span{margin-left: 10px;}
    .box .close {display:block; width:18px; height:18px; line-height:20px; text-align:center; cursor:pointer; position:absolute; right:5px; top:3px; font-weight:bold; }
    .box-left{ width: 50%;height: 268px;float: left; padding: 20px; }
    .box-left-li{ width:100%;height: 45px;border-bottom: 1px solid #eee;line-height: 45px;text-align: center; }
    .box-left-li input{border: none;font-size: 14px;text-align: center;background-color:#fff;}
    .box-left-li span{font-size: 14px;cursor: pointer;}
    .box-right{ width: 50%;height: 268px;float: right; padding: 20px; }
    .box-right-top{width: 100%;height: 50px;line-height: 50px;text-align: center;}
    .box-right-bottom{width: 100%;height: 160px;line-height: 50px;text-align: center;border: 1px solid #ddd;border-radius: 50%;}
</style>
{include file="common/top"}
<div class="am-g am-g-fixed blog-fixed">
    <div class="box">
        <div class="title"><span>工具栏</span>&nbsp;<span class="close"><img src="./static/image/close.png" width="18" height="18"></span></div>
        <div>
            <div class="box-left">
                <div class="box-left-li">
                    <input type="button" value="粗细值">
                    <input type="number" id="size" onchange="sizeChange()" min="1" max="100" value="1">
                </div>
                <div class="box-left-li">
                    <input type="button" value="透明度">
                    <input type="number" id="global" onchange="globalChange()" min="1" max="100" value="100">
                </div>
                <div class="box-left-li">
                    <span onclick="clearCanvas()">清空(C)</span>
                    <span onclick="back()">撤销(Z)</span>
                    <span id="eraser" onclick="doEraser()">橡皮(E)</span>
                </div>
                <div class="box-left-li">
                    <input type="button" value="颜色 ">
                    <input id="color" type="color"/>
                </div>
                <div class="box-left-li" style="border:none;font-size:14px;">
                    <select id="shape" onchange="shapeChange()">
                        <option value="2">画笔</option>
                        <option value="3">取色器</option>
                        <option value="4">油漆桶</option>
                        <option value="1">矩形</option>
                        <option value="0">圆形</option>
                    </select>
                </div>
            </div>
            <div class="box-right">
                <div class="box-right-top">调色盘</div>
                <div class="box-right-bottom">
                    <canvas id="colorpan" width="160" height="160" style="border-radius:50%;"></canvas>
                </div>
            </div>
        </div>
    </div>

    <canvas id="myCanvas" style="border:1px solid #ddd;box-shadow: 0px 5px 20px rgba(0,0,0,0.2);margin-bottom:20px;background:#fff;"></canvas>

    <input id="file_upload_img" type="file" multiple="true">
    <input id="file_upload_txt" type="file" multiple="true">
    <input type="text" id="title" value="" placeholder="请填写绘画标题" style="width: 100%;height: 40px;margin-top: 10px;font-size: 15px;padding: 10px;">
    <input type="button" value="保存绘画过程" onclick="save()" style="width: 160px;height: 30px;line-height:26px; background-color: #333;color: #fff;margin-top: 10px;font-size: 14px;">
</div>
{include file="common/footer"}
<script src="__STATIC__/uploadify/jquery.uploadify.js"></script>
<script src="__STATIC__/js/getColor.js"></script>
<script language="JavaScript" src="__STATIC__/js/draw.js"></script>
<script language="JavaScript" src="__STATIC__/js/move.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".box").bg_move({
            move:'.title',
            closed:'.close',
            size : 6
        });
    });
</script>
</body>
