{include file="common/head"}
<body>
{include file="common/top"}
<div class="am-g am-g-fixed blog-fixed">
    <!-- <input type="button" id="open" value="open"></input>
    <input type="button" id= "save" value = "save"></input>
    <input type="button" id= "color" value="color"></input>  -->

    <input type="button" value="粗细">
    <input type="number" id="size" onchange="sizeChange()" min="1" max="100" value="1">
    <input type="button" value="透明度">
    <input type="number" id="global" onchange="globalChange()" min="1" max="100" value="100">
    <input type="button" id="clear" value="清空" onclick="clearCanvas()">
    <input type="button" value="撤销" onclick="back()">
    <input type="button" id="eraser" value="橡皮" onclick="doEraser()">
    <select id="shape" onchange="shapeChange()">
        <option value="2">画笔</option>
        <option value="1">矩形</option>
        <option value="0">圆形</option>
    </select>
    <input id="color" type="color"/>

    <input type="text" id="title" value="">
    <input type="button" value="保存" onclick="save()">
    <input id="file_upload_img" type="file" multiple="true">

    <form id="form-upload"></form>
    <canvas id="myCanvas" style="border:1px solid #ddd;"></canvas>
</div>
{include file="common/footer"}
<script src="__STATIC__/uploadify/jquery.uploadify.js"></script>
<script language="JavaScript" src="__STATIC__/js/draw.js"></script>
</body>
