<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <title>二次元之家</title>
    <link href="__STATIC__/css/login.css" rel="stylesheet">
    <link href="__STATIC__/uploadify/uploadify.css">
    <link href="__STATIC__/css/bootstrap-responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="__STATIC__/js/fe/html5.js"></script>
    <![endif]-->
    <link href="{$styleAddress}" rel="stylesheet" id="style-address">
</head>
<body class="login-body">
    <div id="container">
        <div id="login" class="animate">
            <form id="form">
                <h1 class="login-logo">Login</h1>
                <p>
                    <label for="username" class="uname login-logo">Username</label><br>
                    <input type="text" name="username" id="username" class="login-border">
                </p>
                <p>
                    <label for="password" class="upassword login-logo">Password</label><br>
                    <input type="password" name="password" id="password" class="login-border">
                </p>

                <button type="button" class="button" id="button-login-user">LOGIN</button>
            </form>
        </div>
    </div>
    <script src="__STATIC__/js/jquery.js"></script>
    <script src="__STATIC__/js/dialog/layer.js"></script>
    <script src="__STATIC__/js/dialog.js"></script>
    <script src="__STATIC__/js/login.js"></script>
    <script src="__STATIC__/js/audio.js"></script>

</body>
</html>