<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <title>Webdraw登录</title>
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <link href="__STATIC__/css/login.css" rel="stylesheet">
    <link href="__STATIC__/uploadify/uploadify.css">
    <link href="__STATIC__/css/bootstrap-responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="__STATIC__/js/fe/html5.js"></script>
    <![endif]-->
</head>
<body>
<div id="container">
    <div id="login" class="animate">
        <form id="form">
            <h1>Login</h1>
            <p>
                <label for="username" class="uname">Username</label><br>
                <input type="text" name="username" id="username">
            </p>
            <p>
                <label for="password" class="upassword">Password</label><br>
                <input type="password" name="password" id="password">
            </p>

            <p>
                <a href="/index/login/reg" style="text-align: right;width: 100%;top: -7px;">go register</a>
                <br>
            </p>

            <button type="button" class="button" id="button-login-user">LOGIN</button>
        </form>
    </div>
</div>
<script src="__STATIC__/js/jquery.js"></script>
<script src="__STATIC__/js/dialog/layer.js"></script>
<script src="__STATIC__/js/dialog.js"></script>
<script src="__STATIC__/js/login.js"></script>
</body>
</html>