{include file="common/head"}
<body>

{include file="common/top"}

<div class="container-fluid">
    <div class="row-fluid">
        {include file="common/nav"}
        <div class="span9">
            <div class="row-fluid">
                <div class="page-header">
                    <h1>文章管理
                        <small>文章列表</small>
                    </h1>
                </div>
                <div style="text-align: center">
                    <form action="__ADMIN__/news/index" method="post">
                        <select class="btn" name="user_id">
                            <option value="" {if condition="$news eq ''" }selected="selected" {/if}>请选择用户</option>
                            {foreach name="users" item="user"}
                            <option value="{$user.id}" {if condition="$user_id eq $user.id" }selected="selected" {/if}>{$user.name}</option>
                            {/foreach}
                        </select>
                        <button type="submit" class="btn btn-success">搜索</button>
                    </form>
                </div>
                <hr>
                    <table class="table table-striped table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>用户</th>
                            <th>文章标题</th>
                            <th>发表时间</th>
                            <th>更新时间</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>

                        <tbody class="tbody">
                        {volist name="news" id="new"}
                        <tr class="douban-list">
                            <td>{$new.id}</td>
                            <td>{$new.user.name}</td>
                            <td>{$new.title}</td>
                            <td>{$new.create_time}</td>
                            <td>{$new.update_time}</td>
                            <td><span id="status" attr-id="{$new.id}" attr-status="{$new.status}" style="cursor: pointer">{$new.status|getCommonStatus}</span>
                            </td>
                            <td><a style="cursor: pointer" href="{:url('news/add',['id'=>$new.id])}" style="margin: 0 auto;">修改</a></td>
                            <td><span id="delete" attr-id="{$new.id}" attr-status="{$new.status}" style="cursor: pointer">删除</span></td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                <div class="green-black">{$news->render()}</div>

            </div>
        </div>
    </div>

    <hr>

    {include file="common/footer"}

</div>
<script>
    var SCOPE = {
        'status_url': '__ADMIN__/news/status',
        'delete_url': '__ADMIN__/news/status',
        'push_url':'__ADMIN__/content/add'
    }
</script>
</body>
</html>
