{include file="common/head"}
<body>
{include file="common/top"}
<div class="am-g am-g-fixed blog-fixed blog-content">
    <div class="am-u-sm-12">
        <article class="am-article blog-article-p">
            <div class="am-article-hd">
                <h1 class="am-article-title blog-text-center">{$new.title}</h1>
                <p class="am-article-meta blog-text-center">
                    <span><a href="#">@{$new.user.name} &nbsp;</a></span>-
                    <span><a href="#">{$new.update_time}</a></span>
                </p>
            </div>
            <div class="am-article-bd">
                <img src="__URI__{$new.thumb}" alt="" class="blog-entry-img blog-article-margin">
                <p class="class="am-article-lead"">
                    {$new.content}
                </p>
            </div>
        </article>

        <div class="am-g blog-article-widget blog-article-margin">
            <div class="am-u-lg-4 am-u-md-5 am-u-sm-7 am-u-sm-centered blog-text-center">
                <span class="am-icon-tags"> &nbsp;</span><a href="#">{$tags[$new.tags]}</a>
                <hr>
                <a href=""><span class="am-icon-qq am-icon-fw am-primary blog-icon"></span></a>
                <a href=""><span class="am-icon-wechat am-icon-fw blog-icon"></span></a>
                <a href=""><span class="am-icon-weibo am-icon-fw blog-icon"></span></a>
            </div>
        </div>

        <hr>
        {volist name="comments" id="comment"}
            <div class="am-g blog-author blog-article-margin">
                <div class="am-u-sm-3 am-u-md-3 am-u-lg-2">
                    <img src="{$comment.user.face}" alt="" class="blog-author-img am-circle">
                </div>
                <div class="am-u-sm-9 am-u-md-9 am-u-lg-10">
                    <h3><span>{$comment.user.name} &nbsp;by &nbsp;</span><span class="blog-color">{$comment.create_time}</span></h3>
                    <p> {$comment.content} </p>
                </div>
            </div>

        <hr>
        {/volist}
        <!--<hr>-->
        <!--<ul class="am-pagination blog-article-margin">-->
            <!--<li class="am-pagination-prev"><a href="#" class="">&laquo; 一切的回顾</a></li>-->
            <!--<li class="am-pagination-next"><a href="">不远的未来 &raquo;</a></li>-->
        <!--</ul>-->

        <form class="am-form am-g" id="form">
            <h3 class="blog-comment">评论</h3>
            <fieldset>

                <div class="am-form-group">
                    <textarea class="" rows="5" placeholder="不超过140字" name="content"></textarea>
                </div>
                <input type="hidden" name="news_id" value="{$new.id}">
                <p><input class="am-btn am-btn-default" id="submit" value="发表评论" type="button"></p>
            </fieldset>
        </form>

        <hr>
    </div>
</div>
<script type="text/javascript">
    var SCOPE = {
        'save_url': '__INDEX__/news/comment',
        'jump_url': '__INDEX__/news/detail?id={$new.id}',
    };
</script>
{include file="common/footer"}
</body>