<footer class="blog-footer">
    <div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-footer-padding">
    </div>
    <!--<div class="blog-text-center"></div>-->
</footer>



<script src="__STATIC__/js/jquery.js"></script>
<script src="__STATIC__/js/dialog/layer.js"></script>
<script src="__STATIC__/js/dialog.js"></script>
<script src="__STATIC__/js/fe/bootstrap.min.js"></script>
<script src="__STATIC__/js/common.js"></script>

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__ASSETS__/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="__ASSETS__/js/amazeui.min.js"></script>
<script src="__ASSETS__/js/pinto.min.js"></script>
<script src="__ASSETS__/js/img.js"></script>
</body>
</html>